[submodule "comics/1"]
	path = comics/1
	url = ../MWIAQ
[submodule "comics/2"]
	path = comics/2
	url = ../TDGMP
[submodule "comics/3"]
	path = comics/3
	url = ../AMastersDuty
[submodule "comics/4"]
	path = comics/4
	url = ../MWIAQold
[submodule "common"]
	path = common
	url = https://github.com/KatsisStudio/Website-Common
